<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,582},{339,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,83}}</string>
                <key>sourceSize</key>
                <string>{339,83}</string>
            </dict>
            <key>ben_get_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,952},{149,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,66}}</string>
                <key>sourceSize</key>
                <string>{149,66}</string>
            </dict>
            <key>btn_doubleGet.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,582},{338,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,134}}</string>
                <key>sourceSize</key>
                <string>{338,134}</string>
            </dict>
            <key>btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,223},{269,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,105}}</string>
                <key>sourceSize</key>
                <string>{269,105}</string>
            </dict>
            <key>btn_get_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,223},{269,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,105}}</string>
                <key>sourceSize</key>
                <string>{269,105}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,755},{235,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,69}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>btn_storage.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,223},{269,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,105}}</string>
                <key>sourceSize</key>
                <string>{269,105}</string>
            </dict>
            <key>frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,961},{360,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,61}}</string>
                <key>sourceSize</key>
                <string>{360,61}</string>
            </dict>
            <key>frame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,587},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>frame6.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,177},{720,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,44}}</string>
                <key>sourceSize</key>
                <string>{720,44}</string>
            </dict>
            <key>frame7.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,548},{449,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,108}}</string>
                <key>sourceSize</key>
                <string>{449,108}</string>
            </dict>
            <key>frame_9g.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,504},{720,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,39}}</string>
                <key>sourceSize</key>
                <string>{720,39}</string>
            </dict>
            <key>headPortrait .png</key>
            <dict>
                <key>frame</key>
                <string>{{228,582},{150,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,153}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>inviteFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,223},{288,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,83}}</string>
                <key>sourceSize</key>
                <string>{288,83}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,961},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>phoneVolume.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{502,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,243}}</string>
                <key>sourceSize</key>
                <string>{502,243}</string>
            </dict>
            <key>redPackage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,308},{181,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,201}}</string>
                <key>sourceSize</key>
                <string>{181,201}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,308},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>tip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,545},{576,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,35}}</string>
                <key>sourceSize</key>
                <string>{576,35}</string>
            </dict>
            <key>tip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,548},{269,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,37}}</string>
                <key>sourceSize</key>
                <string>{269,37}</string>
            </dict>
            <key>tip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,545},{414,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,30}}</string>
                <key>sourceSize</key>
                <string>{414,30}</string>
            </dict>
            <key>tip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{508,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,29}}</string>
                <key>sourceSize</key>
                <string>{508,29}</string>
            </dict>
            <key>whiteFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{773,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{773,173}}</string>
                <key>sourceSize</key>
                <string>{773,173}</string>
            </dict>
            <key>word_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,826},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>word_exchange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,690},{207,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,50}}</string>
                <key>sourceSize</key>
                <string>{207,50}</string>
            </dict>
            <key>word_exchange3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,961},{211,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,52}}</string>
                <key>sourceSize</key>
                <string>{211,52}</string>
            </dict>
            <key>word_exchangeRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,506},{255,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,40}}</string>
                <key>sourceSize</key>
                <string>{255,40}</string>
            </dict>
            <key>word_getRedPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,587},{212,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,49}}</string>
                <key>sourceSize</key>
                <string>{212,49}</string>
            </dict>
            <key>word_invitebonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,826},{160,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>word_redpackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,398},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>word_sevenbonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,638},{208,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,50}}</string>
                <key>sourceSize</key>
                <string>{208,50}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>￥.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{159,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,279}}</string>
                <key>sourceSize</key>
                <string>{159,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a23cbe3eca798ce24d1b0b307287d6cb:1/1$</string>
            <key>textureFileName</key>
            <string>game3.png</string>
        </dict>
    </dict>
</plist>
