<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9G.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,63}}</string>
                <key>sourceSize</key>
                <string>{1080,63}</string>
            </dict>
            <key>ad_space.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1395},{213,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,212}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1022},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>award_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,381},{140,291}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{140,291}}</string>
                <key>sourceSize</key>
                <string>{142,293}</string>
            </dict>
            <key>award_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,67},{281,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{281,169}}</string>
                <key>sourceSize</key>
                <string>{283,171}</string>
            </dict>
            <key>award_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,757},{207,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,208}}</string>
                <key>sourceSize</key>
                <string>{207,208}</string>
            </dict>
            <key>award_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,238},{141,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,293}}</string>
                <key>sourceSize</key>
                <string>{141,293}</string>
            </dict>
            <key>award_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,853},{272,229}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{272,229}}</string>
                <key>sourceSize</key>
                <string>{274,235}</string>
            </dict>
            <key>award_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,67},{281,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{281,169}}</string>
                <key>sourceSize</key>
                <string>{283,171}</string>
            </dict>
            <key>award_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1371},{267,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{267,266}}</string>
                <key>sourceSize</key>
                <string>{269,268}</string>
            </dict>
            <key>award_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1741},{249,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,142}}</string>
                <key>sourceSize</key>
                <string>{249,142}</string>
            </dict>
            <key>bearing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,757},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>bee_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1143},{195,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,186}}</string>
                <key>sourceSize</key>
                <string>{195,186}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,592},{259,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,274}}</string>
                <key>sourceSize</key>
                <string>{259,274}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1057},{336,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,92}}</string>
                <key>sourceSize</key>
                <string>{336,92}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1010},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>btn_doubleGet.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,891},{338,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,134}}</string>
                <key>sourceSize</key>
                <string>{338,134}</string>
            </dict>
            <key>btn_doubleIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1741},{255,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,59}}</string>
                <key>sourceSize</key>
                <string>{255,59}</string>
            </dict>
            <key>btn_getAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1741},{298,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,118}}</string>
                <key>sourceSize</key>
                <string>{298,118}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1258},{112,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,122}}</string>
                <key>sourceSize</key>
                <string>{112,122}</string>
            </dict>
            <key>btn_pfTurnble.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1639},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1395},{102,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,117}}</string>
                <key>sourceSize</key>
                <string>{102,117}</string>
            </dict>
            <key>btn_sevenLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1639},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>btn_start_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{310,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,135}}</string>
                <key>sourceSize</key>
                <string>{310,135}</string>
            </dict>
            <key>btn_start_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1429},{310,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,154}}</string>
                <key>sourceSize</key>
                <string>{310,154}</string>
            </dict>
            <key>btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,757},{383,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{383,159}}</string>
                <key>sourceSize</key>
                <string>{385,159}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1084},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1258},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>eft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1639},{86,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>eft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,1271},{86,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>eft_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,1171},{86,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>exchangeFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1741},{260,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,48}}</string>
                <key>sourceSize</key>
                <string>{260,48}</string>
            </dict>
            <key>frame9G1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,398},{720,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,29}}</string>
                <key>sourceSize</key>
                <string>{720,29}</string>
            </dict>
            <key>frame9G3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,1429},{16,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,81}}</string>
                <key>sourceSize</key>
                <string>{16,81}</string>
            </dict>
            <key>frame9G4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>frame_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,100},{222,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,61}}</string>
                <key>sourceSize</key>
                <string>{222,61}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1258},{81,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
            <key>guestHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1514},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>headFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1168},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{775,771}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{775,771}}</string>
                <key>sourceSize</key>
                <string>{775,771}</string>
            </dict>
            <key>icon_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1022},{95,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>jar_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1159},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>jar_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1084},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>jar_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,937},{71,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,22}}</string>
                <key>sourceSize</key>
                <string>{71,22}</string>
            </dict>
            <key>jar_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1168},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>jobArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,786},{73,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,383}}</string>
                <key>sourceSize</key>
                <string>{73,383}</string>
            </dict>
            <key>jobArea1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,401},{75,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,383}}</string>
                <key>sourceSize</key>
                <string>{75,383}</string>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,795},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,828},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>liquid0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,905},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,873},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,764},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,739},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,714},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,689},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,664},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,639},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquidPipeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,347},{165,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,408}}</string>
                <key>sourceSize</key>
                <string>{165,408}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,324},{75,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,61}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>pedestal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1085},{208,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,56}}</string>
                <key>sourceSize</key>
                <string>{208,56}</string>
            </dict>
            <key>pipeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,429},{326,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,203}}</string>
                <key>sourceSize</key>
                <string>{326,203}</string>
            </dict>
            <key>plug.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1395},{142,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,87}}</string>
                <key>sourceSize</key>
                <string>{142,87}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{129,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,265}}</string>
                <key>sourceSize</key>
                <string>{129,265}</string>
            </dict>
            <key>progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,802},{461,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,24}}</string>
                <key>sourceSize</key>
                <string>{461,24}</string>
            </dict>
            <key>progress_cov.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,776},{461,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,24}}</string>
                <key>sourceSize</key>
                <string>{461,24}</string>
            </dict>
            <key>rank_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{788,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,96}}</string>
                <key>sourceSize</key>
                <string>{788,96}</string>
            </dict>
            <key>rank_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{788,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,49}}</string>
                <key>sourceSize</key>
                <string>{788,49}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1539},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>small.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1992},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1395},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1084},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{148,150}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>tipHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,1142},{177,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,240}}</string>
                <key>sourceSize</key>
                <string>{177,240}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,100},{732,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,259}}</string>
                <key>sourceSize</key>
                <string>{732,259}</string>
            </dict>
            <key>unlockComb.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1639},{85,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,98}}</string>
                <key>sourceSize</key>
                <string>{85,98}</string>
            </dict>
            <key>white_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1028},{389,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,49}}</string>
                <key>sourceSize</key>
                <string>{389,49}</string>
            </dict>
            <key>white_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1395},{221,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,85}}</string>
                <key>sourceSize</key>
                <string>{221,85}</string>
            </dict>
            <key>word_combIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,219},{169,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,41}}</string>
                <key>sourceSize</key>
                <string>{169,41}</string>
            </dict>
            <key>word_combLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1331},{115,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,38}}</string>
                <key>sourceSize</key>
                <string>{115,38}</string>
            </dict>
            <key>word_combLevel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,1018},{199,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,65}}</string>
                <key>sourceSize</key>
                <string>{199,65}</string>
            </dict>
            <key>word_combNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2},{170,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,41}}</string>
                <key>sourceSize</key>
                <string>{170,41}</string>
            </dict>
            <key>word_fulLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1610},{129,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,42}}</string>
                <key>sourceSize</key>
                <string>{129,42}</string>
            </dict>
            <key>word_getAuth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,176},{169,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,41}}</string>
                <key>sourceSize</key>
                <string>{169,41}</string>
            </dict>
            <key>word_honeyIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,87},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>word_honeySpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,305},{168,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>word_honeyValue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,45},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>word_levelTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,789},{266,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,65}}</string>
                <key>sourceSize</key>
                <string>{266,65}</string>
            </dict>
            <key>word_levelUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,129},{173,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,45}}</string>
                <key>sourceSize</key>
                <string>{173,45}</string>
            </dict>
            <key>word_levelUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1384},{177,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,43}}</string>
                <key>sourceSize</key>
                <string>{177,43}</string>
            </dict>
            <key>word_luckyWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,1028},{228,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,44}}</string>
                <key>sourceSize</key>
                <string>{228,44}</string>
            </dict>
            <key>word_manufactureLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,523},{275,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,67}}</string>
                <key>sourceSize</key>
                <string>{275,67}</string>
            </dict>
            <key>word_offLineIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,967},{204,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,49}}</string>
                <key>sourceSize</key>
                <string>{204,49}</string>
            </dict>
            <key>word_productSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,262},{168,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,41}}</string>
                <key>sourceSize</key>
                <string>{168,41}</string>
            </dict>
            <key>word_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,639},{496,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,135}}</string>
                <key>sourceSize</key>
                <string>{496,135}</string>
            </dict>
            <key>word_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,828},{433,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,198}}</string>
                <key>sourceSize</key>
                <string>{433,198}</string>
            </dict>
            <key>word_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2003},{110,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,43}}</string>
                <key>sourceSize</key>
                <string>{110,43}</string>
            </dict>
            <key>word_unlockBee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,429},{515,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,208}}</string>
                <key>sourceSize</key>
                <string>{515,208}</string>
            </dict>
            <key>work_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1741},{263,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,51}}</string>
                <key>sourceSize</key>
                <string>{263,51}</string>
            </dict>
            <key>yellowFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,361},{720,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,35}}</string>
                <key>sourceSize</key>
                <string>{720,35}</string>
            </dict>
            <key>弹出按钮.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1022},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f3e92d4f0cc3e1ae799668193f70e1:1/1$</string>
            <key>textureFileName</key>
            <string>game1.png</string>
        </dict>
    </dict>
</plist>
