<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9G.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,63}}</string>
                <key>sourceSize</key>
                <string>{1080,63}</string>
            </dict>
            <key>TurntableResult_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1445},{249,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,142}}</string>
                <key>sourceSize</key>
                <string>{249,142}</string>
            </dict>
            <key>ad_space.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,294},{213,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,212}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,641},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>bearing.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1382},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>bee_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,508},{195,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,186}}</string>
                <key>sourceSize</key>
                <string>{195,186}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1169},{259,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,274}}</string>
                <key>sourceSize</key>
                <string>{259,274}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1420},{336,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,92}}</string>
                <key>sourceSize</key>
                <string>{336,92}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1951},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>btn_doubleIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,540},{255,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,59}}</string>
                <key>sourceSize</key>
                <string>{255,59}</string>
            </dict>
            <key>btn_getAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1666},{298,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,118}}</string>
                <key>sourceSize</key>
                <string>{298,118}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1745},{300,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,59}}</string>
                <key>sourceSize</key>
                <string>{300,59}</string>
            </dict>
            <key>btn_start_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1169},{310,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,135}}</string>
                <key>sourceSize</key>
                <string>{310,135}</string>
            </dict>
            <key>btn_start_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1589},{310,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,154}}</string>
                <key>sourceSize</key>
                <string>{310,154}</string>
            </dict>
            <key>btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1008},{383,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{383,159}}</string>
                <key>sourceSize</key>
                <string>{385,159}</string>
            </dict>
            <key>eft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1121},{86,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>eft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1204},{86,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>eft_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1223},{86,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>frame9G1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,263},{720,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,29}}</string>
                <key>sourceSize</key>
                <string>{720,29}</string>
            </dict>
            <key>frame9G3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{16,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,81}}</string>
                <key>sourceSize</key>
                <string>{16,81}</string>
            </dict>
            <key>frame9G4.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1452},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>frame_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,601},{222,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,61}}</string>
                <key>sourceSize</key>
                <string>{222,61}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1121},{81,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
            <key>gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,696},{281,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{281,169}}</string>
                <key>sourceSize</key>
                <string>{283,171}</string>
            </dict>
            <key>gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1806},{272,229}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{272,229}}</string>
                <key>sourceSize</key>
                <string>{274,235}</string>
            </dict>
            <key>gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1152},{267,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{267,266}}</string>
                <key>sourceSize</key>
                <string>{269,268}</string>
            </dict>
            <key>icon_jar.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,330},{207,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,208}}</string>
                <key>sourceSize</key>
                <string>{207,208}</string>
            </dict>
            <key>icon_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1951},{95,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>jar_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1378},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>jar_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1304},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>jar_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1008},{71,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,22}}</string>
                <key>sourceSize</key>
                <string>{71,22}</string>
            </dict>
            <key>jobArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1514},{73,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,383}}</string>
                <key>sourceSize</key>
                <string>{73,383}</string>
            </dict>
            <key>jobArea1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1589},{75,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,383}}</string>
                <key>sourceSize</key>
                <string>{75,383}</string>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1983},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1547},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>liquid0.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1781},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,908},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1121},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1786},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1481},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,601},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid6.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1291},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid7.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,508},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquidPipeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,841},{165,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,408}}</string>
                <key>sourceSize</key>
                <string>{165,408}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1601},{75,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,61}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>pedestal.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1951},{208,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,56}}</string>
                <key>sourceSize</key>
                <string>{208,56}</string>
            </dict>
            <key>pipeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{326,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,203}}</string>
                <key>sourceSize</key>
                <string>{326,203}</string>
            </dict>
            <key>plug.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,664},{142,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,87}}</string>
                <key>sourceSize</key>
                <string>{142,87}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1786},{129,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,265}}</string>
                <key>sourceSize</key>
                <string>{129,265}</string>
            </dict>
            <key>progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1084},{461,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,24}}</string>
                <key>sourceSize</key>
                <string>{461,24}</string>
            </dict>
            <key>progress_cov.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1084},{461,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,24}}</string>
                <key>sourceSize</key>
                <string>{461,24}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1367},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>rocket1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,867},{141,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,293}}</string>
                <key>sourceSize</key>
                <string>{141,293}</string>
            </dict>
            <key>rocket2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1010},{140,291}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{140,291}}</string>
                <key>sourceSize</key>
                <string>{142,293}</string>
            </dict>
            <key>small.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,808},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1666},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,664},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{148,150}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>tipHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{177,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,240}}</string>
                <key>sourceSize</key>
                <string>{177,240}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{732,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,259}}</string>
                <key>sourceSize</key>
                <string>{732,259}</string>
            </dict>
            <key>unlockComb.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1501},{85,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,98}}</string>
                <key>sourceSize</key>
                <string>{85,98}</string>
            </dict>
            <key>word_combIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,951},{169,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,41}}</string>
                <key>sourceSize</key>
                <string>{169,41}</string>
            </dict>
            <key>word_combLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1664},{115,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,38}}</string>
                <key>sourceSize</key>
                <string>{115,38}</string>
            </dict>
            <key>word_combLevel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1816},{204,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,66}}</string>
                <key>sourceSize</key>
                <string>{204,66}</string>
            </dict>
            <key>word_combNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,908},{170,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,41}}</string>
                <key>sourceSize</key>
                <string>{170,41}</string>
            </dict>
            <key>word_fulLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1323},{132,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,42}}</string>
                <key>sourceSize</key>
                <string>{132,42}</string>
            </dict>
            <key>word_honeyIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1036},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>word_honeySpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1121},{168,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>word_honeyValue.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,994},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>word_levelTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1884},{276,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,65}}</string>
                <key>sourceSize</key>
                <string>{276,65}</string>
            </dict>
            <key>word_levelUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,816},{173,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,45}}</string>
                <key>sourceSize</key>
                <string>{173,45}</string>
            </dict>
            <key>word_levelUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,863},{183,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,43}}</string>
                <key>sourceSize</key>
                <string>{183,43}</string>
            </dict>
            <key>word_luckyWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1152},{228,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,44}}</string>
                <key>sourceSize</key>
                <string>{228,44}</string>
            </dict>
            <key>word_manufactureLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1917},{275,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,67}}</string>
                <key>sourceSize</key>
                <string>{275,67}</string>
            </dict>
            <key>word_offLineIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1481},{274,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,66}}</string>
                <key>sourceSize</key>
                <string>{274,66}</string>
            </dict>
            <key>word_productSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1078},{168,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,41}}</string>
                <key>sourceSize</key>
                <string>{168,41}</string>
            </dict>
            <key>word_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,504},{496,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,135}}</string>
                <key>sourceSize</key>
                <string>{496,135}</string>
            </dict>
            <key>word_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,641},{433,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,198}}</string>
                <key>sourceSize</key>
                <string>{433,198}</string>
            </dict>
            <key>word_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1456},{111,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,43}}</string>
                <key>sourceSize</key>
                <string>{111,43}</string>
            </dict>
            <key>word_unlockBee.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,294},{515,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,208}}</string>
                <key>sourceSize</key>
                <string>{515,208}</string>
            </dict>
            <key>work_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1986},{271,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,51}}</string>
                <key>sourceSize</key>
                <string>{271,51}</string>
            </dict>
            <key>yellowFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{720,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,35}}</string>
                <key>sourceSize</key>
                <string>{720,35}</string>
            </dict>
            <key>弹出按钮.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1514},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:203a3b5691469122c687ce5c580e7a4e:1/1$</string>
            <key>textureFileName</key>
            <string>game1.png</string>
        </dict>
    </dict>
</plist>
