<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,370}}</string>
                <key>sourceSize</key>
                <string>{75,370}</string>
            </dict>
            <key>combA.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,127},{793,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{793,218}}</string>
                <key>sourceSize</key>
                <string>{793,218}</string>
            </dict>
            <key>combFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{793,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{793,218}}</string>
                <key>sourceSize</key>
                <string>{793,218}</string>
            </dict>
            <key>frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{130,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,123}}</string>
                <key>sourceSize</key>
                <string>{130,123}</string>
            </dict>
            <key>frame9G2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,79},{128,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,11}}</string>
                <key>sourceSize</key>
                <string>{128,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f398c1e3a4d817d5443ce8defa9d8aea:1/1$</string>
            <key>textureFileName</key>
            <string>game2.png</string>
        </dict>
    </dict>
</plist>
