<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9G.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{1080,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,63}}</string>
                <key>sourceSize</key>
                <string>{1080,63}</string>
            </dict>
            <key>ad_space.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,198},{213,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,212}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,991},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>bearing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,198},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>bee_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1023},{195,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,186}}</string>
                <key>sourceSize</key>
                <string>{195,186}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,709},{259,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,274}}</string>
                <key>sourceSize</key>
                <string>{259,274}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1020},{336,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,92}}</string>
                <key>sourceSize</key>
                <string>{336,92}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,987},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>btn_doubleIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,424},{255,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,59}}</string>
                <key>sourceSize</key>
                <string>{255,59}</string>
            </dict>
            <key>btn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,925},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,512},{300,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,59}}</string>
                <key>sourceSize</key>
                <string>{300,59}</string>
            </dict>
            <key>btn_start_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,375},{310,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,135}}</string>
                <key>sourceSize</key>
                <string>{310,135}</string>
            </dict>
            <key>btn_start_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,219},{310,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,154}}</string>
                <key>sourceSize</key>
                <string>{310,154}</string>
            </dict>
            <key>btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1385},{383,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{383,159}}</string>
                <key>sourceSize</key>
                <string>{385,159}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1388},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1304},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>eft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1905},{86,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>eft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1770},{86,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>eft_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1905},{86,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,98}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>frame9G1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{720,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,29}}</string>
                <key>sourceSize</key>
                <string>{720,29}</string>
            </dict>
            <key>frame9G3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,412},{16,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,81}}</string>
                <key>sourceSize</key>
                <string>{16,81}</string>
            </dict>
            <key>frame9G4.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1032},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>frame_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,48},{222,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,61}}</string>
                <key>sourceSize</key>
                <string>{222,61}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,893},{81,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
            <key>guestHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1905},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>headFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,427},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>icon_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1546},{95,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>jar_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1472},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>jar_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1230},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>jar_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,573},{71,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,22}}</string>
                <key>sourceSize</key>
                <string>{71,22}</string>
            </dict>
            <key>jobArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1086},{73,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,383}}</string>
                <key>sourceSize</key>
                <string>{73,383}</string>
            </dict>
            <key>jobArea1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,508},{75,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,383}}</string>
                <key>sourceSize</key>
                <string>{75,383}</string>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,236},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,975},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>liquid0.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,987},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,983},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,987},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,987},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,678},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,646},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid6.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2011},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquid7.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2011},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liquidPipeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1273},{165,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,408}}</string>
                <key>sourceSize</key>
                <string>{165,408}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1023},{75,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,61}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>pedestal.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,929},{208,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,56}}</string>
                <key>sourceSize</key>
                <string>{208,56}</string>
            </dict>
            <key>pipeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,219},{326,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,203}}</string>
                <key>sourceSize</key>
                <string>{326,203}</string>
            </dict>
            <key>plug.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1870},{142,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,87}}</string>
                <key>sourceSize</key>
                <string>{142,87}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2011},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1099},{129,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,265}}</string>
                <key>sourceSize</key>
                <string>{129,265}</string>
            </dict>
            <key>progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,710},{461,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,24}}</string>
                <key>sourceSize</key>
                <string>{461,24}</string>
            </dict>
            <key>progress_cov.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,512},{461,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,24}}</string>
                <key>sourceSize</key>
                <string>{461,24}</string>
            </dict>
            <key>rank_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{788,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,96}}</string>
                <key>sourceSize</key>
                <string>{788,96}</string>
            </dict>
            <key>rank_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{788,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,49}}</string>
                <key>sourceSize</key>
                <string>{788,49}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1870},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>small.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1353},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>tipHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,485},{177,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,240}}</string>
                <key>sourceSize</key>
                <string>{177,240}</string>
            </dict>
            <key>unlockComb.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1770},{85,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,98}}</string>
                <key>sourceSize</key>
                <string>{85,98}</string>
            </dict>
            <key>white_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1514},{389,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,49}}</string>
                <key>sourceSize</key>
                <string>{389,49}</string>
            </dict>
            <key>white_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,111},{221,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,85}}</string>
                <key>sourceSize</key>
                <string>{221,85}</string>
            </dict>
            <key>word_combIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1342},{169,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,41}}</string>
                <key>sourceSize</key>
                <string>{169,41}</string>
            </dict>
            <key>word_combLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2007},{115,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,38}}</string>
                <key>sourceSize</key>
                <string>{115,38}</string>
            </dict>
            <key>word_combLevel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{204,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,66}}</string>
                <key>sourceSize</key>
                <string>{204,66}</string>
            </dict>
            <key>word_combNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1256},{170,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,41}}</string>
                <key>sourceSize</key>
                <string>{170,41}</string>
            </dict>
            <key>word_fulLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1905},{132,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,42}}</string>
                <key>sourceSize</key>
                <string>{132,42}</string>
            </dict>
            <key>word_getAuth.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1299},{169,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,41}}</string>
                <key>sourceSize</key>
                <string>{169,41}</string>
            </dict>
            <key>word_honeyIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,836},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>word_honeySpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1008},{168,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>word_honeyValue.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,664},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>word_levelTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,573},{276,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,65}}</string>
                <key>sourceSize</key>
                <string>{276,65}</string>
            </dict>
            <key>word_levelUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1178},{173,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,45}}</string>
                <key>sourceSize</key>
                <string>{173,45}</string>
            </dict>
            <key>word_levelUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1211},{183,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,43}}</string>
                <key>sourceSize</key>
                <string>{183,43}</string>
            </dict>
            <key>word_luckyWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{228,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,44}}</string>
                <key>sourceSize</key>
                <string>{228,44}</string>
            </dict>
            <key>word_manufactureLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,640},{275,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,67}}</string>
                <key>sourceSize</key>
                <string>{275,67}</string>
            </dict>
            <key>word_offLineIncome.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,151},{274,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,66}}</string>
                <key>sourceSize</key>
                <string>{274,66}</string>
            </dict>
            <key>word_productSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1230},{168,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,41}}</string>
                <key>sourceSize</key>
                <string>{168,41}</string>
            </dict>
            <key>word_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{496,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,135}}</string>
                <key>sourceSize</key>
                <string>{496,135}</string>
            </dict>
            <key>word_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,664},{433,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,198}}</string>
                <key>sourceSize</key>
                <string>{433,198}</string>
            </dict>
            <key>word_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1401},{111,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,43}}</string>
                <key>sourceSize</key>
                <string>{111,43}</string>
            </dict>
            <key>word_unlockBee.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,412},{515,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,208}}</string>
                <key>sourceSize</key>
                <string>{515,208}</string>
            </dict>
            <key>work_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,970},{271,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,51}}</string>
                <key>sourceSize</key>
                <string>{271,51}</string>
            </dict>
            <key>yellowFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{720,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,35}}</string>
                <key>sourceSize</key>
                <string>{720,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a224104803a6a02a874a4f48a69511f:1/1$</string>
            <key>textureFileName</key>
            <string>game1.png</string>
        </dict>
    </dict>
</plist>
